
<dl>
  <td>Nombre:</td>
  <dd> {{name}} </dd>

  <td>Edad:</td>
  <dd> {{age}} </dd>

  <td>Método:</td>
  <dd> {{ getHeroDescription() }} </dd>

  <td>Capitalizado:</td>
  <dd> {{ capitalzeName }} </dd>
</dl>

<button
  *ngIf="name !== 'Batman'"
  (click)="changeHero()"
  class="btn btn-primary mx-2">
  Cambiar nombre
</button>

<button
  *ngIf="age !== 20"
  (click)="changeAge()"
  class="btn btn-primary mx-2">
  Cambiar edad
</button>

<button
  (click)="reset()"
  class="btn btn-primary mx-2">
  Resetear Formulario
</button>
